@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Inter&family=Noto+Sans+Mono&display=swap');

*
{
    margin-left: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
}

header
{
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 66px;
    background-color:   #2a623d;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo
{
    color: #fff;
    font-size: 1.75em;
    font-weight: 600;
    text-decoration: none;
}

header ul
{
    position: relative;
}

header ul li
{
    position: relative;
    list-style: none;
    float: left;
}

header ul li a
{
    color: #fff;
    font-size: 1.1em;
    padding: 20px 25px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

header ul li a:hover
{
    background-color: #1a472a ;
}

header ul li ul
{
    position: absolute;
    left: 0;
    width: 200px;
    background: #5da676;
    display: none;
}

header ul li:hover > ul
{
    display: block;
}

header ul li ul li
{
    position: relative;
    width: 100%;
    border: 1px solid #2b4f38;
}

header ul li ul li ul
{
    top: 0;
    left: 200px;
}

/*modo responsivo*/

@media (max-width: 900px)
{
    header
    {
        padding: 10px 20px;
    }
    
    header nav
    {
        position: fixed;
        width: 100%;
        top: 66px;
        left: 0;
        background: darkgray;       
    }

    header nav ul li
    {
        width: 100%;
    }

    header nav ul li ul
    {
     position: relative;
     width: 100%;
     left: 0;
    }

    header nav ul li ul li ul
    {
        top: 0;
        left: 0px;
    }

    header nav ul li:hover ul li
    {
        background: cadetblue;
    }
}

@media (min-width: 760px)
{
    body{
        margin: auto;
        max-width: 100%;
        width: 950px;
        box-sizing: border-box;
    }

}

@media (max-width: 1200px)
{
    header{
        max-height: 83px;
    }

    header ul li a{
        font-size: large;
    }
        
}


body{
    background-color: black;
    text-decoration-color: #fff;
}
body div div div p{
    margin-left: 40px;
    margin-right: 40px;
}

h1{
    position: flex;
    margin: 100px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 50px;
    color: #fff;
}

h2{
    color: #fff;
    font-weight: bold;
    font-family: 'Cinzel Decorative', cursive;
    margin-left: 50px;
    font-size: 30px;
    
}

img{
    position: inherit;
    float: left;
    margin-left: 40px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 360px;
    height: 400px;
}

img.gameplay{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    width: 926px;
    height: 490px;
}

p{    
    color: #fff;
    display: block;
    font-family: 'Noto Sans Mono', monospace;
    font-size: 19px;
    font-weight: 400;
    line-height: 35px;
    margin-block-end: 21px;
    margin-block-start: 21px;
    margin-inline-end: 0;
    margin-inline-start: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-right: 50px;
    padding-left: 50px;
}

